	<style type="text/css">
		body {
			font-family: Helvetica Neue;
			font-size: 13px;
		}

		input {
			font-family: Helvetica;
			font-size: 13px;
		}

div {
	font-family: Helvetica Neue;
	font-size: 13px;
}

span {
	font-family: Helvetica Neue;
	font-size: 13px;
}

h1 {
	font-family: Oswald;
	font-weight: normal;
	font-size: 22px;
	color: #09347a;

}

.header {
	font-weight:bold;
	color:#cc6600;
	font-size:14px;
}

.label {
	float: left;
	width:170px;
	font-weight:bold;
}

.hidden {
	display:none;
}

		.disclaimer {
			margin-top: 0px;
			margin-right: 8px;
			margin-bottom: 20px;
			width: 480px;
			font-family: Arial;
			font-weight: normal;
			font-size: 11px;
			text-align: left;
		}

		.title1 {
			font-size: 12px;
			font-weight: bold;
			vertical-align: top;
		}

		.title2 {
			font-size: 13px;
			font-weight: bold;
			vertical-align: top;
		}
		
/*	.formtable {
		border: 0;
		cellpadding: 0;
		cellspacing: 0;
		width: 100%;
	}
		.formtable td {
			padding-bottom: 15px;
			margin: 0;
    		padding: 0;
    		text-align: center;
		}

		.summarytable td {
			border-bottom: solid 1px #c7ddea;
			padding: 6px 1px 7px 4px;
		}

		.boldtd {
			font-weight: bold;
			font-family: Arial;
			font-size: 12px;
			color: #336699;
			width: 150px;
		}


html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
}
*/

#dv_npc_s1_t {
	display: none;
}

#dv_npc_s2_t {
	display: none;
}

#dv_npc_s3_t {
	display: none;
}

#dv_npc_s4_t {
	display: none;
}

#dv_npc_s5_t {
	display: none;
}

#dv_npc_s6_t {
	display: none;
}

#s_step5 {
	display: none;
}

#s_step6 {
	display: none;
}

#dv_npc_s6_program {
	display: none;
}

#tr_requiredliveoncampus {
	display: none;
}
	.leftColumn {
		margin: 0px;
		display: inline-block;
		border: 0px solid black;
		vertical-align: top;
		width: 175px;
	}
	
	.rightColumn {
		margin: 0px;
		display: inline-block;
		border: 0px solid green;
		vertical-align: top;
	}
	
	.leftColumnSummaryPage {
		margin: 0px;
		display: inline-block;
		border: 0px solid black;
		vertical-align: top;
		width: 400px;
	}
.myContainer {

}

.shaded {
	background-color: #E0E0E0;
}
	</style>
